nav {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		&:before,
		&:after {
			content: '';
			display: table;
		}
		&:after {
			clear: both;
		}
		width: 100%;
		margin: 60px auto;
		border: $menu-border;
		background-color: $menu-background;
		background-image: $menu-gradient;
		border-radius: 6px;
		// box-shadow: 0 1px 1px #777;
		zoom: 1;

		ul {
			margin: 20px 0 0 0;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 38px;
			left: 0;
			z-index: 1;
			background: $menu-background;
			background: $menu-gradient;
			// box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
			border-radius: 3px;
			transition: all 0.2s ease-in-out;
			ul {
				top: 0;
				left: 150px;
				margin: 0 0 0 20px;
				// box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
				li {
					word-wrap: break-word;
					&:first-child a:after {
						left: -6px;
						top: 50%;
						margin-top: -6px;
						border-left: 0;
						border-bottom: 6px solid transparent;
						border-top: 6px solid transparent;
						border-right: 6px solid #3b3b3b;
					}
					&:first-child a:hover:after {
						border-right-color: #0299d3;
						border-bottom-color: transparent;
					}
				}
			}
			li {
				word-wrap: break-word;
				float: none;
				display: block;
				border: 0;
				// box-shadow: 0 1px 0 #111, 0 2px 0 #666;
				&:first-child > a {
					border-radius: 3px 3px 0 0;
				}
				&:first-child > a:after {
					content: '';
					position: absolute;
					left: 40px;
					top: -6px;
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
					border-bottom: 6px solid #444;
				}
				&:first-child a:hover:after {
					border-bottom-color: #04acec;
				}
				&:last-child {
					box-shadow: none;
				}
				&:last-child > a {
					border-radius: 0 0 3px 3px;
				}
			}
			a {
				padding: 10px;
				width: 130px;
				display: block;
				white-space: nowrap;
				float: none;
				text-transform: none;
				&:hover {
					background-color: #0186ba;
					background-image: $menu-background-hover-gradient;
				}
			}
		}
		li {
			word-wrap: break-word;
			float: left;
			border-right: 1px solid #222;
			// box-shadow: 1px 0 0 #444;
			position: relative;
			&:hover > a {
				color: #fafafa;
			}
			&:hover > ul {
				opacity: 1;
				visibility: visible;
				margin: 0;
			}
		}
		a {
			float: left;
			padding: 12px 30px;
			color: $menu-item-color;
			text-transform: uppercase;
			font-family: $primary-font;
			font-size: 0.8em;
			text-decoration: none;
			text-shadow: 0 1px 0 #000;
		}
	}
}
