//text
$primary-text: hsl(29, 73%, 57%);
$primary-font: 'Baloo Da 2', 'Arial', 'Sans-serif';

//background
$primary-background: hsl(29, 73%, 95%);

//menu
$menu-background: hsl(29, 73%, 57%);
$menu-background-hover: hsl(29, 73%, 37%);
$menu-item-color: hsl(29, 73%, 95%);
$menu-item-hover-color: hsl(0, 0%, 100%);
