@import './header';
@import './variables';
@import './nav';
body {
	background-color: $primary-background;
}
a {
	color: $primary-text;
	font-family: $primary-font;
}

@font-face {
	font-family: 'Baloo Da 2';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Baloo Da 2 Regular'), local('BalooDa2-Regular'),
		url(https://fonts.gstatic.com/s/balooda2/v1/2-ci9J9j0IaUMQZwAJyJQundoA.woff2)
			format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Baloo Da 2';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local('Baloo Da 2 SemiBold'), local('BalooDa2-SemiBold'),
		url(https://fonts.gstatic.com/s/balooda2/v1/2-ch9J9j0IaUMQZwAJyJSjb5tZ5iYg.woff2)
			format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Baloo Da 2';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Baloo Da 2 Bold'), local('BalooDa2-Bold'),
		url(https://fonts.gstatic.com/s/balooda2/v1/2-ch9J9j0IaUMQZwAJyJSlL4tZ5iYg.woff2)
			format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Baloo Da 2';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: local('Baloo Da 2 ExtraBold'), local('BalooDa2-ExtraBold'),
		url(https://fonts.gstatic.com/s/balooda2/v1/2-ch9J9j0IaUMQZwAJyJSk77tZ5iYg.woff2)
			format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
